{% extends "base.html" %}
{% load static %}

{% block content %}

<h4 id="Swedish-BSL3-Network">Swedish BSL3 Network</h4>

<p>Biosafety Level 3 (BSL3) laboratories are a cornerstone for pandemic laboratory preparedness (PLP). The purpose of the Swedish BSL3 Network (SB3N) is to strengthen national PLP by promoting interactions between BSL3 facilities in the country.</p>

<h5 id="aims">Aims of the network: Stronger together!</h5>

<ul>
    <li>
        Promote collaboration: share experience, knowledge and technology.</li>
    <li>
        Map BSL3 capabilities and specialisations.
    </li>
    <li>
        Provide visibility for academic BSL3 facilities.
    </li>
</ul>

<p>SB3N members connect with each other during Network meetings organised around common BSL3 themes and site visits. Together with BSL3 managers, the Network maps resources at different academic BSL3 sites, identifying gaps and strengths in our joint national coverage.</p>

<p>SB3N is supported by <a href="/plp-program/" target="_blank" rel="noopener noreferrer">Pandemic Laboratory Preparedness program</a> at SciLifeLab and by a Network grant from the Swedish Research Council. Through the PLP program, SciLifeLab is commissioned to build competence, develop technologies, and support research related to infectious diseases and pandemics.</p>

<h5 id="network-members">Network members</h5>

<div class="md:flex md:gap-6 bg-white-100 px-8 py-6">
    <div class="md:flex-1 bg-white content-center p-4">
        <p>SB3N is open to Swedish BSL3 facilities in academia, the region, and government. Members come from the 6 Swedish universities in Sweden with BSL3 facilities, including BSL3 managers, BSL3 technicians, BSL3 users (researchers), and Biosafety Officers. Additional members include BSL3 staff from clinical microbiology units in the region (currently Västra Götaland, Västerbotten, Uppsala and Stockholm), and persons with activity or direct interest in BSL3.</p>
        <p>Academic members of the Network (in alphabetical order):</p>
        <ul>
            <li>
                Karolinska Institutet
            </li>
            <li>
                Linköping University
            </li>
            <li>
                Lund University
            </li>
            <li>
                Sahlgrenska University Hospital
            </li>
            <li>
                Stockholm University
            </li>
            <li>
                Umeå University
            </li>
            <li>
                Uppsala University
            </li>
        </ul> 
    </div>

    <div class="md:flex-1 flex flex-col max-md:mt-4">
        <img src="{% static 'bsl3/images/BSL3_network.webp' %}"
            alt="SLU methodology flowchart">
        
    </div>
</div>


<h5 id="network-members">Partners abroad</h5>

<p>Pandemics do not adhere to national borders, so neither should PLP. SB3N collaborates with the Canadian Consortium for Academic BSL3 Laboratories (CCABL3), and is open to connecting with similar networks.</p>

<h5 id="membership">Membership information</h5>

<p>SB3N is growing. New members are welcome! Membership is free. To be a member of SB3N you must be affiliated to a Swedish university, healthcare region, or government agency.</p>

<p>For more information about the Network, including membership requests, please send an email to <a href="mailto:bsl3-network@ki.se">bsl3-network@ki.se</a></p>

{% endblock %}
