{% extends "base.html" %}

{% block content %}

<h3>Overview of Pandemic Preparedness Program</h3>

<h4>Background</h4>
<p>
    The Science for Life Laboratory (SciLifeLab) research community has been actively engaged in
    national and international COVID-19 research efforts since early 2020. Access to the wide-ranging
    expertise within that community, and to previously established SciLifeLab infrastructure,
    expedited COVID-19 research at the molecular, cellular, patient, population, and environmental levels.
</p>

<p>
    SciLifeLab was quick to respond to the pandemic, and established multiple efforts to accelerate
    and support research throughout. The first program established to support research efforts was the
    <a href="https://www.scilifelab.se/capabilities/pandemic-laboratory-preparedness/pandemic-response/national-program/">
        The SciLifeLab/KAW National COVID-19 Research Program
    </a>, which was established in April 2020 and co-funded by the
    <a href="https://kaw.wallenberg.org/en">Knut and Alice Wallenberg Foundation (KAW)</a>.
    When the focus of the global research community started to shift towards pandemic preparedness,
    SciLifeLab was commissioned to establish a program to support pandemic preparedness in general.
    This resulted in SciLifeLab's Pandemic Laboratory Preparedness (PLP) program.
</p>

{% endblock %}
