{% extends "base.html" %}

<!-- Main Content -->
{% block content %}

    <h3>{{ project.title }}</h3>
    <!-- Project Content -->
    <div class="mb-6">
        {{ project.rendered_content|safe }}
    </div>

    <div class="mt-12 pt-6 border-t border-pp-pale-grey">
        <a href="{% url 'plp:index' %}" class="group inline-flex items-center text-pp-dark-blue font-medium no-underline">
            <svg class="w-4 h-4 mr-1 transition-transform group-hover:-translate-x-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            Back to PLP Overview
        </a>
    </div>

{% endblock %}
