{% extends "base.html" %}
{% load static %}

{% block content %}

<article>
    <h3 class="font-medium">{{ news.title }}</h3>
    <p class="text-sm text-pp-dark-grey mb-6">{{ news.created_at|date:"F d, Y" }}</p>
    <img src="{{ news.image_url }}" alt="{{ news.title }}" class="w-full h-64 sm:h-96 object-cover rounded-lg">

    <div class="mt-6">
        {{ news.rendered_content|safe }}
    </div>

    <div class="flex justify-between items-center mb-6">
        <a href="{% url 'news:index' %}"
        class="text-pp-mid-blue hover:text-pp-dark-blue hover:underline transition-colors duration-200"
        >
            ← Back to News
        </a>
        <p class="text-sm text-pp-dark-grey">
        Last updated: {{ news.updated_at|date:"F d, Y" }}
        </p>
    </div>
</article>

{% endblock %}
