{% extends "base.html" %}
{% load static %}

{% block content %}
<p>
    In this section, we report major pieces of news related to the Portal. This can include, for example, new pages,
    new/improved features, or important progress in the field of pandemic preparedness in Sweden.
</p>

{% if news_list %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-4 mt-7">
    {% for news in news_list %}
        {% include "components/content_card.html#content_card" with url=news.get_absolute_url image=news.image_url title=news.title description=news.description date=news.created_at only %}
    {% endfor %}
    </div>
{% else %}
        <p class="text-center text-pp-dark-grey py-8">No news articles available at the moment.</p>
{% endif %}

{% endblock %}
