{% extends "base.html" %}

{% block content %}

<p>Registers contain personal data (health data, demographic, socioeconomic etc) associated
with unique identifiers that enable linkage between registers. Register holders are responsible for
ensuring that the data is held securely and in accordance with GDPR and other laws. Register-based 
studies can be both clinical trials or non-interventional trails/studies   
<a href="https://www.ema.europa.eu/en/documents/scientific-guideline/guideline-registry-based-studies_en.pdf"  
target="_blank" rel="noopener noreferrer">(EMA, Guideline of register-based studies, 2020).</a> 
</p>




{% endblock %}

