{% extends "base.html" %}

{% block content %}

<p>Registers contain personal data (health data, demographic, socioeconomic etc) associated
with unique identifiers that enable linkage between registers. Register holders are responsible for
ensuring that the data is held securely and in accordance with GDPR and other laws. Register-based 
studies can be both clinical trials or non-interventional trails/studies   
<a href="https://www.ema.europa.eu/en/documents/scientific-guideline/guideline-registry-based-studies_en.pdf"  
target="_blank" rel="noopener noreferrer">(EMA, Guideline of register-based studies, 2020).</a> 
</p>

<h4>Registerforskning - a hub for information about register-based data</h4>
<p>
The <a href="https://www.vr.se/" target="_blank" rel="noopener noreferrer">Swedish Research Council</a> 
established <a href="https://registerforskning.se/" target="_blank" rel="noopener noreferrer">Registerforskning.se</a> 
to support researchers in using register-based data from Sweden. The website includes information about available 
registers, guides the researchers in the register-based research process (identify, request, and use), 
and makes information about the legal requirements easily available. In most cases, the data produced 
in register-based research is sensitive and cannot be openly shared, though code may be shared.
</p>

<h4>Register Utiliser Tool (RUT) </h4>
<p>The <a href="https://www.vr.se/" target="_blank" rel="noopener noreferrer">Swedish Research Council</a> operates the 
<a href="https://www.registerforskning.se/sv/register-i-sverige/metadataverktyget-rut/" target="_blank" rel="noopener noreferrer">
Register Utiliser Tool (RUT)</a> , which aims to facilitate the use of register-based data. It allows researchers 
to search and match metadata in registers from both register holding authorities and organisations. 
Users can search for variables or populations of interest. Most of the metadata and concepts in RUT are in Swedish. 
Semantic mapping to international ontologies and terminologies has been carried out in some registers connected to RUT 
and is ongoing in other registers. Such mapping enables machine readability and multilingualism in the languages 
implemented by the ontologies or terminologies. The RUT is free of charge, but a RUT account is required to use it. 
Only those with emails connected to a research institution, or to an authority or organisation that holds registers can get 
a RUT account.
</p>

<h4>Ordering register data </h4> 
<p>
<i>Note that in case of some registers information is only available in Swedish.</i>

<ul style="list-style-type:disc">
<li><a href="https://bestalladata.socialstyrelsen.se/data-for-forskning/" target="_blank" rel="noopener noreferrer">How to order 
register data from the registers from the Board of Health and Welfare.</a> </li>
<li><a href="https://www.scb.se/en/services/ordering-data-and-statistics/" target="_blank" rel="noopener noreferrer">
How to order data and statistics from Statistics Sweden.</a> </li></ul>
</p>

<h4>Subset of useful registers </h4> 
<p> 
The table below is an overview of a number of different national public authority registers and national quality registers. 
<i>Please note that the webpages of some of the registers listed below are only available in Swedish.</i> 
</p>
<table>
<tbody> 
<body><br/><div><table style='border-collapse:collapse;table-layout:auto;width:100%'><thead></thead>
<tr>
<td>
<p><strong>Register holder</strong></p>
</td>
<td>
<p><strong>Register name</strong></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.socialstyrelsen.se/en/"><span style="font-weight: 400;">National 
Board of Health and Welfare</span></a></p>
</td>
<td>
<p><a href="https://www.socialstyrelsen.se/statistik-och-data/register/dodsorsaksregistret/">
<span style="font-weight: 400;">The Swedish Cause of Death Register</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.socialstyrelsen.se/en/"><span style="font-weight: 400;">
National Board of Health and Welfare</span></a></p>
</td>
<td>
<p><a href="https://www.socialstyrelsen.se/en/statistics-and-data/registers/national-patient-register/">
<span style="font-weight: 400;">The National Patient Register</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/">
<span style="font-weight: 400;">Public Health Agency of Sweden</span></a></p>
</td>
<td>
<p><a href="https://www.folkhalsomyndigheten.se/smittskydd-beredskap/vaccinationer/nationella-vaccinationsregistret/">
<span style="font-weight: 400;">National vaccination register</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.regionostergotland.se/"><span style="font-weight: 400;">
Region &Ouml;sterg&ouml;tland</span></a></p>
</td>
<td>
<p><a href="https://childreg.carmona.se/"><span style="font-weight: 400;">National Quality Registry 
for Paediatric Rheumatology</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.rjl.se/"><span style="font-weight: 400;">Region J&ouml;nk&ouml;ping</span></a></p>
</td>
<td>
<p><a href="https://palliativregistret.se/"><span style="font-weight: 400;">National Quality Registry for 
Palliative Care</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.karolinska.se/en/karolinska-university-hospital"><span style="font-weight: 400;">
Karolinska University Hospital</span></a></p>
</td>
<td>
<p><a href="https://covid19register.se/"><span style="font-weight: 400;">Quality Registry for SARS-CoV-2 
(COVID-19)</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.karolinska.se/en/karolinska-university-hospital"><span style="font-weight: 400;">
Karolinska University Hospital</span></a></p>
</td>
<td>
<p><a href="https://www.medscinet.com/gr/"><span style="font-weight: 400;">National Quality Registry 
for Pregnancy</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://regionuppsala.se/en/"><span style="font-weight: 400;">Region Uppsala</span></a></p>
</td>
<td>
<p><a href="https://www.ucr.uu.se/swedvasc/"><span style="font-weight: 400;">National Quality Registry 
for Vascular Surgery</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.socialstyrelsen.se/en/"><span style="font-weight: 400;">National Board of Health 
and Welfare</span></a></p>
</td>
<td>
<p><a href="https://www.socialstyrelsen.se/statistik-och-data/register/kommunal-halso-och-sjukvard/">
<span style="font-weight: 400;">Registret &ouml;ver insatser inom kommunal h&auml;lso- och sjukv&aring;rd</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.socialstyrelsen.se/en/"><span style="font-weight: 400;">National Board of Health 
and Welfare</span></a></p>
</td>
<td>
<p><a href="https://www.socialstyrelsen.se/statistik-och-data/register/cancerregistret/"><span style="font-weight: 400;">
The Swedish Cancer Register</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.regionvarmland.se/regionvarmland/om-regionen/om-webbplatsen/information-in-english-engelska">
<span style="font-weight: 400;">Region V&auml;rmland</span></a></p>
</td>
<td>
<p><a href="https://www.icuregswe.org/en/"><span style="font-weight: 400;">The Swedish Intensive 
Care Registry</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.socialstyrelsen.se/en/"><span style="font-weight: 400;">National Board of Health 
and Welfare</span></a></p>
</td>
<td>
<p><a href="https://www.socialstyrelsen.se/en/statistics-and-data/registers/national-medical-birth-register/">
<span style="font-weight: 400;">The Swedish Medical Birth Register</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.vgregion.se/en/"><span style="font-weight: 400;">Region V&auml;stra G&ouml;taland</span></a></p>
</td>
<td>
<p><a href="https://lvr.registercentrum.se/in-english/the-swedish-national-airway-register/p/HJAjrgGPD">
<span style="font-weight: 400;">The Swedish National Airway Register</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.karolinska.se/en/karolinska-university-hospital"><span style="font-weight: 400;">
Karolinska University Hospital</span></a></p>
</td>
<td>
<p><a href="https://www.medscinet.com/pnq/"><span style="font-weight: 400;">Swedish Neonatal Quality 
Register</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.socialstyrelsen.se/en/"><span style="font-weight: 400;">National Board of Health 
and Welfare</span></a></p>
</td>
<td>
<p><a href="https://www.socialstyrelsen.se/en/statistics-and-data/registers/national-prescribed-drug-register/">
<span style="font-weight: 400;">The Swedish Prescribed Drug Register</span></a></p>
</td>
</tr>
<tr>
<td>
<p><a href="https://www.karolinska.se/en/karolinska-university-hospital"><span style="font-weight: 400;">
Karolinska University Hospital</span></a></p>
</td>
<td>
<p><a href="https://srq.nu/en/welcome/"><span style="font-weight: 400;">Swedish Rheumatology Quality Register</span></a></p>
</td>
</tr>
</tbody>
</table>


{% endblock %}

