{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "dashboards/partials/load_plotlyjs.html" %}

{% comment %}
    TODO: cleanup in second phase
    fix internal URL reference
    fix plot generation script URLs
    fix data update dates
    fix commentary section (dynamic content)
    verify blob names
{% endcomment %}

<div id="content-start">
    <div class="prose max-w-none space-y-6 mt-4">
        <div class="bg-pp-pale-grey/30 border-l-4 border-pp-mid-blue text-pp-dark-blue p-4" role="status">
            <p class="m-0">
                <span class="font-semibold">As of June 2023, the SARS-CoV-2 data will no longer be updated by SEEC-KTH.</span>
                <span class="ml-2">Data from after June 2023 is <a class="text-pp-mid-blue" href="/dashboards/covid_quantification/">available from other research groups.</a></span>
            </p>
        </div>

        <h2 id="introduction">Introduction</h2>

        <p>
            This project is led by associate professor Zeynep Cetecioglu Gurol and supported
            by Mariel Perez-Zabaleta and Isaac Owusu-Agyeman at KTH Royal Institute of
            Technology (KTH). Bioinformatics analyses of wastewater samples are held by
            assistant professor Luisa Hugerth (Uppsala University). This group of researchers
            are known as SEEC-KTH. The project was established as a collaboration between the
            <a href="https://www.scilifelab.se/covid-19" target="_blank" rel="noopener noreferrer"
               class="text-pp-mid-blue">SciLifeLab COVID-19 National Research Program</a>,
            and the
            <a href="https://www.kth.se/en/seed" target="_blank" rel="noopener noreferrer"
               class="text-pp-mid-blue">SEED</a>
            and
            <a href="https://www.kth.se/ket/chemical-engineering-1.784196" target="_blank"
               rel="noopener noreferrer" class="text-pp-mid-blue">Chemical Engineering</a>
            departments at KTH. The project is now funded as part of the SciLifeLab Pandemic
            Laboratory Preparedness (PLP) Program. More information about the PLP program can
            be found in our <a href="/resources/" class="text-pp-mid-blue">resources section</a>.
            SEEC-KTH is now part of the
            <a href="https://www.kth.se/dib/department-of-industrial-biotechnology-1.783103"
               target="_blank" rel="noopener noreferrer" class="text-pp-mid-blue">Department
               of Industrial Biotechnology</a> at KTH.
        </p>

        <p>
            The data and visualisations on this page are <strong>no longer being updated</strong>
            as of June 2023. This dashboard combines data from two periods:
        </p>

        <ul class="list-disc pl-6">
            <li>
                <strong>Recent period (September 2021 - June 2023):</strong> Data collected using
                the Promega kit for concentration, starting from week 35 of 2021.
            </li>
            <li>
                <strong>Historic period (April 2020 - August 2021):</strong> Data collected using
                the initial concentration method based on earlier studies.
            </li>
        </ul>
    </div>
</div>

{% endblock %}
