{% extends "base.html" %}
{% load static %}

{% block content %}

    {% comment %}
    TODO: re-evaluate and optimise as needed in second phase.
    - Add "updated on" date and "topics".
    - Update layout as needed
    - When 'partials' available in stable release, make use of it 
    {% endcomment %}

    <h4>Active dashboards</h4>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6">
        {% for dashboard in active_dashboards %}
        <div class="border border-pp-dark-blue">
            <div>
                <a href="{{ dashboard.url }}">
                    <img src="{% static dashboard.image %}"
                    alt="Thumbnail for {{ dashboard.name }}">
                </a>
            </div>
            <div class="px-4 py-3 font-medium text-lg *:text-white bg-pp-dark-blue">
                <a href="{{ dashboard.url }}">
                    {{ dashboard.name }}
                </a>
            </div>
            <div class="p-4">
                {{ dashboard.description }}
            </div>
        </div>
        {% endfor %}
    </div>

    <h4>Historic dashboards</h4>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6">
        {% for dashboard in historic_dashboards %}
        <div class="border border-pp-dark-blue">
            <div>
                <a href="{{ dashboard.url }}">
                    <img src="{% static dashboard.image %}"
                    alt="Thumbnail for {{ dashboard.name }}">
                </a>
            </div>
            <div class="px-4 py-3 font-medium text-lg *:text-white bg-pp-dark-blue">
                <a href="{{ dashboard.url }}">
                    {{ dashboard.name }}
                </a>
            </div>
            <div class="p-4">
                {{ dashboard.description }}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
