{% extends "base.html" %}

{% block content %}
    <!-- WIP - This template will change -->
    <span class="bg-red-300 p-4 text-center block mt-6">
        Temp layout, will be worked on when all or most of the dashboard URLs are sorted
    </span>
    
    <h4>Available dashboards</h4>
    {% comment %}
    For now, maually add a hyperlink to your dashboard in the list if you need a quick reference
    For example: <a href="{% url 'dashboards:url-name' %}">Dashboard name</a>
    {% endcomment %}

    <ul class="list-disc pl-6 mt-2">
        <li>
            <a href="{% url 'dashboards:lineage_competition' %}">SARS-CoV-2 Variant Competition</a>
        </li>
    </ul>
{% endblock %}
