{% extends "base.html" %}
{% load static %}

{% block content %}

    <h2 class="text-2xl font-bold text-pp-dark-blue mb-6">Active dashboards</h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6">
        {% for card in active_dashboard_cards %}
            {% include "components/content_card.html#content_card" %}
        {% endfor %}
    </div>

    <h2 class="text-2xl font-bold text-pp-dark-blue mb-6 mt-12">Historic dashboards</h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6">
        {% for card in historic_dashboard_cards %}
            {% include "components/content_card.html#content_card" %}
        {% endfor %}
    </div>

{% endblock %}
