{% extends "base.html" %}

{% block content %}

{% include "dashboards/partials/load_plotlyjs.html" %}

{% comment %}
    TODO: cleanup in second phase
    fix internal URL reference
    fix plot generation script URLS
    fix data update date
{% endcomment %}

<h3>SARS-CoV-2 serology tests by the SciLifeLab Autoimmunity and Serology Profiling unit</h3>
<p class="mt-6 p-4 bg-pp-pale-grey">
    The data on this page are largely historic, though they may be updated occasionally.
    The Autoimmunity and Serology Profiling unit has now expanded their pandemic
    preparedness efforts to include tests for multiple other viruses. Information about
    that work can be found on the <a href="{% url 'dashboards:multidisease_serology' %}"
    class="text-pp-dark-blue"> multi-disease serology dashboard</a>.
</p>

<p>
    Serology tests involve testing bodily fluids for the presence of antibodies or other
    substances. Since the beginning of the pandemic, the SciLifeLab Autoimmunity and
    Serology Profiling unit has conducted serology tests for antibodies targeting
    SARS-CoV-2 proteins. The unit has continuously provided the latest data to the Swedish
    Pathogens Portal. In each of the below sections, we show the numbers of samples that
    were <b>positive</b>, <b>negative</b> or <b>research and development (R&D)</b>.
</p>

<ul>
    <li>
        <b>Positive tests:</b> Serology tests indicating the <i>presence</i> of
        immunoglobulin G (IgG) antibodies targeting SARS-CoV-2 proteins.
    </li>
    <li>
        <b>Negative tests:</b> Serology tests indicating the <i>absence</i> of
        immunoglobulin G (IgG) antibodies targeting SARS-CoV-2 proteins.
    </li>
    <li>
        <b>R&D tests:</b> All of the remaining serum, plasma, and saliva samples that
        were completed to test the levels IgG, IgM, or IgA antibodies targeting SARS-CoV-2
        proteins. This includes all of the positive and negative controls, all replicated
        and re-ran samples and assays, all samples analysed during the continuous
        development and optimisation of the tests, technically failed samples,
        and all research associated projects.
    </li>
</ul>

{% comment%}
TODO: will be implemented in next phase

<p class="mt-6 p-4 bg-pp-pale-grey">
    Last updated date: 
</p>
{% endcomment %}

<h4>Weekly serology tests</h4>

<p>
    The number of SARS-CoV-2 serology tests completed by the SciLifeLab Autoimmunity
    and Serology Profiling unit each week, divided according to whether tests were
    positive, negative, or research & development (R&D).
</p>

<p class="lg:hidden p-4 bg-pp-pale-grey">
    Scroll the plot sideways to view all of the data.
</p>

<div id="weekly_serology_plot">
    {% if weekly_serology_tests %}
        {{ weekly_serology_tests|safe }}
    {% else %}
        {% include "dashboards/partials/plot_loading_error.html" %}
    {% endif %}
</div>

{% comment%}
TODO: will be implemented in next phase

<p>
    <b>Code used to produce plot:</b>
</p>
{% endcomment %}


<h4>Cumulative serology tests</h4>

<p>
    The cumulative number of positive, negative, and research & development (R&D)
    SARS-CoV-2 serology tests completed over time at the SciLifeLab Autoimmunity
    and Serology Profiling unit.
</p>

<p class="lg:hidden p-4 bg-pp-pale-grey">
    Scroll the plot sideways to view all of the data.
</p>

<div id="cumulative_serology_plot">
    {% if cumulative_serology_tests %}
        {{ cumulative_serology_tests|safe }}
    {% else %}
        {% include "dashboards/partials/plot_loading_error.html" %}
    {% endif %}
</div>

{% comment%}
TODO: will be implemented in next phase

<p>
    <b>Code used to produce plot:</b>
</p>
{% endcomment %}

<h6>About serology testing at the Autoimmunity and Serology Profiling unit</h6>

<p>
    Early in the COVID-19 pandemic, work was initiated to <a target="_blank" rel="noopener noreferrer"
    href="https://www.scilifelab.se/news/scilifelab-coordinates-major-efforts-in-diagnostics-and-research-on-the-coronavirus/">
    develop a serological assay</a> for large scale testing of plasma and serum samples for
    antibodies against SARS-CoV-2. The work was undertaken by three research groups at
    <a target="_blank" rel="noopener noreferrer" href="https://www.kth.se/pro">the Department
    of Protein Science, KTH Royal Institute of Technology (KTH)</a> and the <a target="_blank"
    rel="noopener noreferrer" href="https://www.scilifelab.se/units/affinity-proteomics/">
    Autoimmunity and Serology Profiling unit</a> at <a target="_blank" rel="noopener noreferrer"
    href="https://www.scilifelab.se">SciLifeLab</a>.
</p>

<p>
    By comparing and combining a large number of variants of SARS-CoV-2 proteins as antigens, a
    <a target="_blank" rel="noopener noreferrer" href="https://doi.org/10.1002/cti2.1312">
    highly sensitive and specific multiplex bead-based assay</a> was established.
    The high-throughput assay can be used to process up to 8000 samples per week.
    The vast majority of samples analysed to date originated from healthcare personnel,
    population-based studies, personnel in the pharmaceutical and biotechnology industry,
    and from within multiple research collaborations. Collaborators and sample providers
    include the community study at Danderyd University Hospital (<a target="_blank"
    rel="noopener noreferrer" href="https://www.scilifelab.se/news/four-out-of-five-still-have-antibodies-against-sars-cov-2">
    see news involving a follow-up study at Danderyd University Hospital</a>),
    Karolinska University Hospital, Uppsala University Hospital, Skåne University Hospital,
    Örebro University Hospital, Sophiahemmet Hospital, Public Health Agency of Sweden, RISE
    (Research Institutes of Sweden), AstraZeneca, Cytiva, SVPH, Karolinska Institutet, KTH,
    Uppsala University, and Lund University.
</p>

<p>
    Check out the <a href="https://www.scilifelab.se/units/affinity-proteomics/" target="_blank"
    rel="noopener noreferrer">Autoimmunity and Serology Profiling unit page</a> on the SciLifeLab
    website to find out more about the unit itself. Publications produced by studies making use
    of the unit are available in the <a target="_blank" rel="noopener noreferrer"
    href="https://publications.scilifelab.se/label/Autoimmunity%20and%20Serology%20Profiling">
    SciLifeLab Infrastructure Publications database</a>.
</p>

{% endblock content %}
