{% extends "base.html" %}
{% load django_htmx %}

{% block content %}


<p>
    This page provides access to guidance on best practices in sharing infectious disease and pandemic
    preparedness data. Overall, data should be made as open as possible and as closed as necesssary
    (see 
    <a href="https://www.vr.se/english/analysis/reports/our-reports/2023-08-24-national-guidelines-for-open-science-in-sweden.html" 
    target="_blank" rel="noopener noreferrer">national guidelines on Open Science</a>).
    <a href="{% url 'contact:index' %}">Contact our helpdesk</a> to get 
    tailored support for sharing your data.
</p>

<h4>Where to share data</h4> 

<p>
    Data should be shared in well-established, data-type specific repositories wherever possible. 
    This not only makes it more findable, it also ensures that any relevant metadata standards and 
    recommended file formatting will be applied, which will increase the reuse of the data.
    <p>
        <i>Locating a suitable repository:</i>
      </p>
    <ul class="list-disc list-inside">
        <li>The <a href="{% url 'catalogue:data_repositories' %}">
            data repositories page</a> lists where infectious disease data can be deposited, 
            according to data type.
        <li>The <a href=
            "https://www.covid19dataportal.org/submit-data" target="_blank" rel="noopener noreferrer">
            interactive data submission tool on the European COVID-19 Data Portal</a> suggests which 
            repository to use, based on information about your data.
        </li>
        <li><a href="https://www.re3data.org/" target="_blank" rel="noopener noreferrer">
            Re3data.org</a> lists research data repositories available for use.
    </ul>
</p>

<p>
    In the event that there is no data-type specific repository available, or you're unsure where to share 
    your data, <a href="{% url 'contact:index' %}">contact our helpdesk</a> for support. Alternatively, 
    you can deposit data in a non-data type specific repository. For example, the 
    <a href="https://scilifelab.se/data/repository" target="_blank" rel="noopener noreferrer">
        SciLifeLab Data Repository</a> accepts life science data from Swedish researchers. Data can also 
    be stored using services such as <a href="https://data.scilifelab.se/services/fairstorage/" target="_blank" rel="noopener noreferrer">
        SciLifeLab FAIR Storage</a>, which provides Swedish researchers with secure, high-performance
        storage designed for large-scale life science datasets.
</p>

<h4>Standards for data sharing</h4> 

<h5>Locating advice</h5> 

<p>
    Infection biology research often involves sensitive, complex, and large-scale data. It can be difficult 
    to understand the ramifications of sharing particular data types, and how data of different types should be shared. Getting 
    tailored guidance is possible through the <a href="{% url 'contact:index' %}">Swedish Pathogens Portal helpdesk</a>. However,
    multiple resources have also been generated to aid with sharing data releated to infectious disease and pandemic preparedness.
</p>

<p>
    The <a href="https://www.infectious-diseases-toolkit.org/" target="_blank" rel="noopener noreferrer">
    Infectious Disease Toolkit (IDTk)</a> was created to collate information on best practices in data management 
    from across infectious disease research. It covers topics such as biosafety, ethical considerations, and data flows 
    for handling sensitive pathogen and patient-derived data. IDTk also links to tools, repositories, and policies relevant 
    to Sweden, making it directly applicable for researchers based in Sweden.
</p>

<p>
    In many cases, general research data management (RDM) also applies to infectious disease research.
    To access advice on RDM relevant to Swedish research, visit
    <a href="https://data-guidelines.scilifelab.se/" target="_blank" rel="noopener noreferrer">
    SciLifeLab Research Data Management Guidelines</a>, which includes information on how to submit data to 
    potentially relevant repositories. See, for example, the <a href="https://data-guidelines.scilifelab.se/topics/ena-submission-tutorial/"
    target="_blank" rel="noopener noreferrer"> ENA submission tutorial</a>.
</p>



<h5>Metadata Standards </h5>
<p> 
    When sharing data, it is important to follow relevant metadata standards to ensure that your data is reusable.
    Metadata standards are often outlined by data repositories. The following table provides an overview of some key metadata 
    standards separated by data type.  
</p>

{% include "components/data_table.html#data_table" with t=metadata_table %}

<h4>Licensing</h4>
<p>
   Selecting the correct licence when sharing data is important for enabling data reuse 
   whilst protecting your rights as the data creator.
</p>

<p><i>What does a licence do?:</i></p>
<ul class="list-disc list-inside">
    <li>Defines how others may access, use, and distribute your data.</li>
    <li>Ensures you receive proper credit and attribution for your work.</li>
    <li>
        Supports <a href="https://www.go-fair.org/fair-principles/" target="_blank" rel="noopener noreferrer">
        <em>FAIR</em></a> principles, making data <strong>F</strong>indable, <strong>A</strong>ccessible, 
        <strong>I</strong>nteroperable, and <strong>R</strong>eusable.
    </li>
    <li>Reduces legal uncertainty for both creators and users.</li>
</ul>

<p><i>Before selecting a licence, check:</i></p>
<ul class="list-disc list-inside">
    <li>
        Institutional or funder requirements (e.g., EU Horizon, SciLifeLab, or 
        Swedish Research Council mandates).</li>
    <li>
        Whether your data includes sensitive, personal, or third-party components 
        that cannot be made fully open.
    </li>
    <li>Any journal or repository-specific policies (<a href="https://www.re3data.org/"
         target="_blank" rel="noopener noreferrer">Re3data.org</a> lists repositories and their licensing policies).</li>
</ul>

<p>
  <i>What else to consider:</i>
</p>
<ul class="list-disc list-inside">
    <li>Include a clear licence statement in your metadata and documentation.</li>
    <li>When in doubt, consult your institutional data steward or legal team before assigning a licence.</li>
</ul>

<p><i>Other useful information on licensing</i></p>
<ul class="list-disc list-inside">
    <li>
        <a href="https://creativecommons.org/choose/" target="_blank" rel="noopener noreferrer">
        Creative Commons License Chooser</a>
    </li>
    <li>
        <a href="https://opendatacommons.org/licenses/" target="_blank" rel="noopener noreferrer">
        Open Data Commons Licenses</a></li>
    <li>
        <a href="https://www.scilifelab.se/wp-content/uploads/2023/10/Data-Policy.pdf" target="_blank" rel="noopener noreferrer">
        SciLifeLab Data Policy</a>
    </li>
</ul>

{% htmx_script %}
{% endblock %}
