{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include "html_head_tag.html" %}
    <body id="top">
        {% include "header.html" %}

        <main>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>

        {% include "footer.html" %}

        <!-- Back to top button -->
        <!-- href is added as a fallback - works without JS -->
        <a href="#top" 
            class="back-to-top" 
            title="Back to top" 
            aria-label="Back to top">
            ↑ <!-- This or SVG? -->
        </a>

        <!-- Load the back to top functionality after HTML loaded -->
        <script src="{% static 'js/back_to_top.js' %}" defer></script>
    </body>
</html>
