{% load static %}

<div class="header">

    <!-- Logo -->
    <div class="container my-4">
      <a href="{% url 'home:index' %}" class="mr-5 no-underline">
        <img class="h-15 inline" src="{% static 'images/swe_pathogens_logo.svg' %}" alt="Pathogens Portal Sweden">
      </a>
      <a href="https://www.scilifelab.se">
        <img class="h-13 inline" src="{% static 'images/SciLifeLab_logo.svg' %}" alt="SciLifeLab Home">
      </a>
    </div>

    <!-- Banner and text -->
    <div class="bg-cover bg-center bg-no-repeat py-4"
          style="background-image: linear-gradient(
                  to bottom, rgba(55, 174, 148, 0.52), rgba(55, 174, 148, 0.73)), 
                  url('{% static 'images/csm_coronavirus_mc.jpg' %}');">
        <div class="container">
            <span class="text-3xl font-medium">
                {% if title %}
                    {{ title }}
                {% else %}
                    Swedish Pathogens Portal
                {% endif %}
            </span>
        </div>
    </div>

</div>
