{% extends "base.html" %} 

{% load static %} 

{% block content %}
<p>
    The <em>Swedish Pathogens Portal</em> acts as both a <b>community hub</b> and <b>web-based entry point</b>
    for tools, data, and other research resources. The <b>scope</b> of the portal includes all research related
    to pandemic preparedness and infectious disease performed in Sweden. The primary <b>aims</b> of the portal
    are to (1) to make relevant data, tools, and other research outputs from Sweden as Open and FAIR as possible,
    and (2) to enable the Swedish research community to connect and access relevant resources, in order to
    accelerate research.
</p>

<p>
    The Swedish Pathogens Portal is operated by <a href="https://www.scilifelab.se/data/" target="_blank"
    rel="noopener noreferrer">SciLifeLab Data Centre</a>, and has also received considerable contributions
    from the wider community. An overview of some of the contributors can be found on <a
    href="https://github.com/ScilifelabDataCentre/pathogens-portal/graphs/contributors"
    target="_blank" rel="noopener noreferrer">GitHub</a>. The contributions from the community, and from
    our editorial board, are instrumental in enabling the portal to evolve according to the needs of the
    Swedish research community. The portal is also grateful to <a href="{% url "about:funders" %}">funders</a>
    and <a href="{% url "about:partners" %}">partners</a> both past and present, without whom the portal could
    not be the valued resource that it is today. 
</p>

<p> 
    The portal offers direct support for the management, promotion, and connectivity of research resources to anyone
    involved in fectious disease and pandemic preparedness research at a Swedish research institution or university.
</p>

<h4 id="history-of-the-portal">History of the Portal</h4>
<p>
    The Swedish Pathogens Portal was originally launched as the ‘Swedish COVID-19 Data Portal' in June 2020.
    This was done on assignment, and with funding, from the <a href="https://www.vr.se/english.html" target="_blank"
    rel="noopener noreferrer">Swedish Research Council / Vetenskapsrådet</a> (more details are available in <a
    href="https://www.vr.se/english/just-now/news/news-archive/2020-06-03-new-national-portal-makes-research-data-on-covid-19-accessible.html"
    target="_blank" rel="noopener noreferrer">a past news item</a>). The portal launched as the first national node of the
    <a href="https://covid19dataportal.org/" target="_blank" rel="noopener noreferrer">European COVID-19 Data Platform</a>,
    which was initiated and funded by the European Commission (see the <a target="_blank" rel="noopener noreferrer"
    href="https://www.embl.org/news/science/embl-ebi-launches-covid-19-data-portal/"> past news item</a> for more).
    At that time, the scope of the portal was focused exclusively on SARS-CoV-2 and COVID-19.
</p>

<p>
    In 2022, in line with the needs and focus of the Swedish research community, the scope of the portal 
    was expanded to include all pathogens and pandemic prepardness in general. It also became a pillar of,
    and received funding from, the <a href="https://www.scilifelab.se/pandemic-response/pandemic-laboratory-preparedness/"
    target="_blank" rel="noopener noreferrer">SciLifeLab Pandemic Laboratory Preparedness Program</a>.
    The SciLifeLab Pandemic Laboratory Preparedness Program is funded by the earmarked governmental funding
    to SciLifeLab (<a href="https://www.regeringen.se/rattsliga-dokument/proposition/2020/12/forskning-frihet-framtid--kunskap-och-innovation-for-sverige/"
    target="_blank" rel="noopener noreferrer">Research proposition Prop. 202/21:60</a>).
</p>

<p>
    The portal was relaunched as the Swedish Pathogens Portal in 2023, and operates as a Pathogen Portal Node (PPN)
    as part of an international Pathogens Portal network. More information about the network is available on our
    <a href="{% url "about:nodes" %}">PPN page</a>.
</p>

{% endblock %}
